server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/auth/**

        - id: profile-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/profile/**

      # ????????? ?????? ? http://localhost:3000 ?????? ?? gateway
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:3000"
            allowedMethods:
              - GET
              - POST
              - OPTIONS
            allowedHeaders:
              - "*"
            allowCredentials: true

jwt:
  secret: VGhpcy1pcy1hLXZlcnktbG9uZy1kZW1vLXNlY3JldC1rZXk=